RewriteEngine on
RewriteCond $1 !^(index\.php|captcha|watch|review|ondemand|search|images|images_admin|imgedit|css|js|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1